/* Reset Overrides  */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.33em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .67em;
}

p {
  display: block;
  margin: 1em 0em;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Header styling */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #00B1FF;
}

header h1 {
  color: white;
  font-weight: bold;
}

/* Instructions box styling */
.container-width {
  width: 95%;
  margin: 20px auto;
}

.instructions-text {
  padding: 0 10px;
  border: 1px solid lightgrey;
  border-radius: 0 0 10px 10px;
}

.box-header {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: #F2F2F2;
  border: 1px solid lightgrey;
  border-bottom: 0px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}

/* Styling for box where random number will appear */

.column {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.half-width-column {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 10%;
}

.box-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.medium-box {
  width: 40%;
}

.box-header-alt {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #F2F2F2;
  border: 1px solid lightgrey;
  border-bottom: 0px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}

/* .flex-column {
  display: flex;
  flex-direction: column;
} */

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container-alt {
  display: flex;

}

.score-alignment {
  display: flex;
  height: 112px;
  justify-content: center;
  align-items: center;
}

.score-alignment p {
  /* text-align: center; */
  /* padding: 20px; */
  font-weight: bold;
  font-size: 24px;
}

.jewels {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.jewels img {
  height: 4vw;
  width: 4vw;
}
