/* Reset Overrides  */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.33em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .67em;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Header styling */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #00B1FF;
}

header h1 {
  color: white;
  font-weight: bold;
}
